In [2]:
import pyodbc # connection to database

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
db_path = r'C:\Users\GILBERT FG\Desktop\Readings\PSP_database.accdb'

conn = pyodbc.connect(
    r'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};'
    rf'DBQ={db_path};'
)

cursor = conn.cursor()

# list all tables in the database
for table in cursor.tables(tableType='TABLE'):
    print(table.table_name)

Block register
Plot monitoring history
Plot-block relation
PSPs
Slope correction factors
Thinning history
TreeData

In [4]:
# Query the database

tree_data_query = r"SELECT * FROM TreeData WHERE AreaType = 'Teak' AND Plantations  = 'Tain II'"

# Read to dataframe
df = pd.read_sql(tree_data_query, conn)

# preview the dataset
df.head()

C:\Users\GILBERT FG\AppData\Local\Temp\ipykernel_1832\4169209562.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(tree_data_query, conn)

,Plantations,AreaType,Monitoring year,Monitoring month,Monitoring day,PLOT,TREE NR,Tree SPECIES,Species scientific name,H (m),DBH (cm),Merchantable height (m),REMARKS,Incorrect DBH,Incorrect H,Incorrect H / DBH,Exclude,Justification for exclusion
0,Tain II,Teak,2018.0,1.0,13,1,71.0,Teak,Tectona grandis,7.25,12.0,None,Fire scars,False,False,None,False,None
1,Tain II,Teak,2018.0,1.0,13,1,76.0,Teak,Tectona grandis,8.25,12.0,None,Fire scars,False,False,None,False,None
2,Tain II,Teak,2018.0,1.0,13,1,68.0,Teak,Tectona grandis,7.00,11.8,None,Fire scars,False,False,None,False,None
3,Tain II,Teak,2018.0,1.0,13,1,53.0,Teak,Tectona grandis,7.25,11.5,None,Fire scars,False,False,None,False,None
4,Tain II,Teak,2018.0,1.0,13,1,58.0,Teak,Tectona grandis,7.00,10.5,None,Fire scars,False,False,None,False,None

In [5]:
df['REMARKS'].unique()

array(['Fire scars', 'Dead tree - fire scars', None, 'Beetle infestation',
       'Top broken', 'Dead tree', 'Top Broken', 'Climber on top',
       'Beetle', 'Bent', 'Dieback', 'climber', 'forked', 'bent', '',
       'marked', 'Marked, dead', 'Top Broken, Marked', 'under a tree',
       'Climber', 'tree dimensions not recorded. DBH >20cm', 'Forked',
       'tall', 'fork', 'short', 'Abnormal tree, correct measurement',
       'Under tree', 'crooked', ' ',
       'Indigenous tree in teak area. Dimensions not recorded',
       'Half dead', 'Under a tree', 'TOP BROKEN', 'Marked',
       'Abnormal tree', 'Crooked'], dtype=object)

## Data Cleaning

In [6]:
# Remove dead trees, beetle infestations, dieback, etc
df  = df[~((df['REMARKS'] == 'Dead tree - fire scars') | (df['REMARKS'] == 'Beetle infestation') | (df['REMARKS'] == 'Marked, dead') | (df['REMARKS'] == 'Dead tree'))]

In [7]:
df = df[~((df['REMARKS'] == 'tree dimensions not recorded. DBH >20cm') | (df['REMARKS'] == 'Abnormal tree, correct measurement') | (df['REMARKS'] == 'Indigenous tree in teak area. Dimensions not recorded'))]

In [8]:
df = df[~((df['REMARKS'] == 'Half dead') | (df['REMARKS'] == 'Abnormal tree'))]

In [9]:
df['REMARKS'].unique()

array(['Fire scars', None, 'Top broken', 'Top Broken', 'Climber on top',
       'Beetle', 'Bent', 'Dieback', 'climber', 'forked', 'bent', '',
       'marked', 'Top Broken, Marked', 'under a tree', 'Climber',
       'Forked', 'tall', 'fork', 'short', 'Under tree', 'crooked', ' ',
       'Under a tree', 'TOP BROKEN', 'Marked', 'Crooked'], dtype=object)

In [10]:
df = df[~((df['REMARKS'] == 'Dieback'))]

In [11]:
df['REMARKS'].unique()

array(['Fire scars', None, 'Top broken', 'Top Broken', 'Climber on top',
       'Beetle', 'Bent', 'climber', 'forked', 'bent', '', 'marked',
       'Top Broken, Marked', 'under a tree', 'Climber', 'Forked', 'tall',
       'fork', 'short', 'Under tree', 'crooked', ' ', 'Under a tree',
       'TOP BROKEN', 'Marked', 'Crooked'], dtype=object)

In [12]:
df['DBH (cm)'].unique()

array([12.  , 11.8 , 11.5 , 10.5 , 10.4 ,  9.9 ,  9.2 ,  8.1 ,  7.7 ,
        7.  ,  6.6 ,  6.2 ,  6.1 ,  6.  ,  5.8 ,  5.4 ,  5.1 ,  5.  ,
        4.9 ,  4.5 ,  4.3 ,  3.7 ,  3.6 ,  3.4 ,  3.  ,  2.9 ,  2.8 ,
        2.1 ,  2.  ,  1.8 ,  1.2 ,  0.  , 14.8 , 14.5 , 14.3 , 13.3 ,
       13.  , 12.3 , 11.7 , 11.4 , 11.2 ,  9.7 ,  8.9 ,  8.5 ,  8.4 ,
        7.8 ,  7.5 ,  7.3 ,  6.8 ,  6.7 ,  5.7 ,  5.3 ,  4.  ,  3.8 ,
        3.3 ,  2.7 ,  1.3 , 15.2 , 15.  , 14.6 , 14.4 , 14.2 , 14.1 ,
       14.  , 13.2 , 13.1 , 12.9 , 12.8 , 12.7 , 12.6 , 12.5 , 12.4 ,
       12.2 , 12.1 , 11.3 , 10.8 , 10.6 , 10.3 , 10.1 , 10.  ,  8.  ,
        7.4 , 18.2 , 18.  , 17.8 , 17.6 , 17.5 , 16.4 , 16.  , 15.9 ,
       15.7 , 15.5 , 15.1 , 13.9 , 13.6 , 13.5 , 13.4 , 11.  , 10.2 ,
        9.6 ,  6.4 , 11.9 , 10.7 ,  9.3 ,  7.6 ,  7.2 ,  4.2 , 16.7 ,
       14.7 ,  9.1 ,  8.8 ,  8.3 ,  8.2 , 11.1 , 10.9 ,  7.9 ,  5.5 ,
        5.2 ,  4.8 ,  4.1 , 20.  , 18.5 , 17.4 , 16.8 , 16.6 , 16.5 ,
       16.2 , 15.6 ,  9.  ,  7.1 ,  9.8 ,  9.5 ,  8.25,  6.5 ,  4.6 ,
       19.6 , 16.3 , 13.8 , 13.7 ,  3.5 , 17.2 , 15.8 , 15.3 ,  5.9 ,
       23.2 , 21.4 , 14.9 ,  6.9 , 27.6 , 22.6 , 19.7 , 19.5 , 19.3 ,
       19.2 , 19.  , 18.4 , 17.9 , 17.7 , 17.  , 15.4 ,  8.7 , 11.6 ,
        9.4 ,  3.2 , 18.1 , 16.9 ,  6.3 , 17.1 , 18.7 ,  5.6 ,  4.4 ,
        3.9 ,  2.4 ,  1.7 ,  8.6 ,  2.25,  1.6 ,  1.  ,  4.7 ,  2.3 ,
        3.1 ,  2.2 ,  1.9 ,  1.5 , 20.3 ,  2.5 , 19.4 , 17.3 ,  2.6 ,
       18.9 , 18.6 , 18.3 , 16.1 , 10.25, 22.  , 20.1 , 19.8 , 21.1 ,
       20.2 , 19.9 , 19.1 , 18.8 , 20.8 , 24.9 ,  1.4 , 27.7 ,  2.85,
        7.25,  5.25, 23.7 ,  4.25,  9.36, 21.7 , 21.  , 25.1 , 20.6 ,
       11.75,  9.25,  8.28,  6.25,  9.75,  3.75,  3.25,  1.1 ,  4.75,
       10.75,  8.75, 20.4 ,  6.68, 23.  ,  6.75,  1.95,  1.96,  0.8 ,
        0.9 ,  0.95,  7.75,  1.69,  2.75,  7.71,  0.6 ,  5.75,  1.25,
        0.5 ,  0.3 , 22.5 , 22.1 ,  4.19, 14.14, 25.8 , 27.  , 26.8 ,
       20.7 , 20.9 , 24.  , 21.6 , 20.5 , 21.3 , 21.2 , 16.75, 22.4 ,
       30.1 , 26.5 , 11.25, 15.25, 12.25, 22.8 , 23.3 , 24.8 , 31.  ,
       23.8 , 28.6 , 25.9 , 23.9 , 22.7 , 21.5 , 24.1 , 21.8 , 24.6 ,
       22.3 , 22.2 , 25.5 , 11.85, 25.  , 25.7 , 27.4 , 23.5 , 29.  ,
       31.5 , 29.2 , 27.2 , 23.4 , 22.9 , 24.7 ,  0.7 , 14.25, 21.9 ,
       25.6 , 29.7 , 26.1 , 25.3 , 24.5 , 23.1 ,  8.33, 26.  , 25.2 ,
       26.7 , 24.2 , 16.25, 14.75, 13.25, 15.75, 26.9 , 23.6 , 31.2 ,
       26.2 , 24.4 ,   nan, 26.3 , 13.16, 24.3 , 17.25, 25.4 , 27.9 ,
       28.3 , 26.4 , 26.6 , 33.4 , 29.8 , 34.1 , 28.  , 27.5 , 28.4 ,
       32.  , 30.  , 30.3 , 27.3 , 28.2 , 28.5 , 27.1 , 28.9 , 27.8 ,
       31.4 , 35.2 , 30.5 , 28.1 , 37.1 , 33.9 , 28.8 , 29.3 , 29.1 ,
       37.3 , 34.8 , 31.7 , 29.9 , 32.2 , 31.9 , 33.  , 31.3 , 29.5 ,
       34.2 , 30.9 , 29.6 , 31.1 , 29.4 , 30.8 , 30.7 , 28.7 , 30.2 ,
       32.3 , 30.4 , 31.6 , 19.25,  7.28, 12.21,  7.22,  7.55, 30.6 ,
       35.  , 35.4 , 32.1 , 36.4 , 32.6 , 32.8 , 32.7 , 34.4 , 33.5 ,
       33.6 , 32.4 , 33.8 , 20.17, 34.6 , 32.5 , 33.3 ])

In [13]:
df.dropna(subset=['DBH (cm)'], inplace=True)

In [14]:
df['H (m)'].unique()

array([ 7.25 ,  8.25 ,  7.   ,  6.25 ,  6.5  ,  6.   ,  4.5  ,  4.   ,
        5.25 ,  4.75 ,  5.   ,  5.75 ,  3.5  ,  3.25 ,  3.75 ,  3.   ,
        2.75 ,  2.5  ,  2.2  ,  1.75 ,  2.05 ,  1.45 ,  0.5  ,  0.48 ,
        0.9  ,  0.8  ,  9.5  ,  7.5  ,  8.   ,  8.5  ,  7.75 ,  6.75 ,
        8.75 ,  5.5  ,  4.25 ,  2.25 ,  9.25 , 10.   ,  9.   ,  9.75 ,
       10.25 , 11.   , 12.75 , 10.75 , 11.25 , 12.25 , 11.5  , 11.75 ,
       14.   , 13.5  , 10.5  , 12.   , 12.5  , 13.   ,  7.7  , 13.25 ,
       13.75 , 14.25 , 14.5  ,  8.7  , 11.1  ,  9.2  ,  2.3  ,  2.1  ,
        2.8  ,  2.   ,  1.65 ,  1.6  ,  1.5  ,  2.45 ,  5.7  ,  5.26 ,
        5.3  ,  3.45 ,  3.2  ,  6.7  ,  3.71 ,  2.26 ,  4.79 ,  1.8  ,
        2.53 ,  1.28 ,  8.72 ,  7.4  ,  2.13 , 15.25 , 15.5  , 15.   ,
        8.76 , 11.56 ,  2.06 , 14.75 ,  9.15 ,  8.8  ,  4.74 ,  2.9  ,
        1.93 ,  1.29 ,  5.35 ,  7.56 ,  6.9  ,  2.7  ,  8.4  ,  6.15 ,
        2.85 ,  2.84 ,  7.6  ,  3.21 ,  2.78 ,  1.4  ,  3.7  , 10.2  ,
        2.86 ,  6.2  ,  2.4  ,  2.28 ,  8.6  ,  2.6  ,  4.52 ,  1.9  ,
        5.1  ,  5.73 , 10.1  , 10.7  ,  7.8  ,  7.9  ,  2.95 ,  3.1  ,
        3.15 ,  2.15 ,  1.85 ,  1.95 ,  3.3  ,  9.7  ,  1.7  ,  7.2  ,
       11.8  ,  5.66 ,  6.52 , 15.75 ,  4.7  ,  8.79 , 10.9  , 10.3  ,
        1.76 ,  1.25 ,  2.03 ,  1.89 ,  2.52 ,  1.97 ,  2.24 , 12.29 ,
       10.28 , 10.26 ,  9.6  , 10.78 ,  9.24 ,  2.68 , 11.2  ,  1.98 ,
        1.72 ,  2.35 ,  1.96 ,  2.55 ,  2.69 ,  1.92 ,  1.69 ,  1.3  ,
        7.1  ,  7.3  , 12.7  , 11.76 ,  1.61 ,  2.23 ,  1.55 ,  6.4  ,
        2.56 ,  2.14 ,  1.59 , 12.55 ,  2.98 ,  2.39 ,  2.76 ,  1.79 ,
        2.65 ,  2.83 ,  6.3  ,  2.16 ,  8.2  ,  9.1  ,  3.8  ,  4.2  ,
       13.4  ,  3.9  ,  3.78 ,  9.72 ,  8.26 ,  7.28 ,  2.67 ,  1.48 ,
        9.23 ,  5.22 ,  7.15 ,  3.11 ,  3.55 ,  3.4  ,  2.92 ,  1.83 ,
        1.94 ,  2.93 ,  1.51 , 11.28 ,  9.52 ,  7.52 ,  8.258,  2.32 ,
        9.9  ,  2.58 ,  1.99 ,  7.26 ,  0.95 ,  1.2  ,  3.6  ,  2.62 ,
        1.64 ,  1.1  ,  3.35 ,  1.84 ,  1.34 ,  1.27 ,  0.65 ,  0.67 ,
        1.37 ,  1.91 ,  1.15 ,  1.62 ,  1.   ,  0.41 ,  0.28 ,  0.3  ,
        0.62 ,  0.94 ,  0.7  ,  0.45 ,  0.42 ,  0.55 ,  0.4  ,  1.02 ,
        1.86 ,  8.9  ,  0.93 ,  2.72 ,  0.2  ,  0.6  ,  9.8  ,  0.15 ,
        0.18 ,  1.78 ,  1.17 ,  1.16 ,  1.35 ,  1.32 ,  1.12 ,  6.28 ,
        6.73 ,  0.78 ,  0.85 ,  1.73 ,  3.73 ,  2.63 ,  2.18 ,  1.33 ,
        1.67 ,  2.17 ,  1.82 ,  1.87 ,  0.97 ,  0.91 ,  0.   ,  1.38 ,
        0.75 ,  4.9  ,  0.74 ,  0.86 ,  1.47 ,  8.73 ,  9.26 ,  1.57 ,
        0.25 ,  0.61 ,  1.26 ,  5.76 ,  4.6  ,  0.35 ,  0.56 ,  0.47 ,
        0.52 ,  0.17 ,  0.72 ,  1.13 ,  1.05 ,  1.68 ,  3.27 ,  1.77 ,
        1.03 ,  1.22 ,  1.07 ,  0.92 ,  2.27 ,  9.54 ,  1.53 ,  1.43 ,
        0.82 ,  0.63 ,  1.71 ,  0.58 ,  0.04 ,  1.88 ,  0.68 ,  1.66 ,
        1.56 ,  0.54 ,  6.8  ,  1.18 ,  1.63 ,  1.24 ,  1.42 ,  0.98 ,
        0.89 ,  0.71 ,  4.1  ,  5.2  ,  0.96 ,  0.87 ,  1.44 ,  1.52 ,
        0.23 ,  0.31 ,  0.77 ,  2.21 ,  1.31 ,  0.59 ,  1.08 ,  1.04 ,
        0.66 ,  2.37 ,  6.23 ,  8.28 ,  4.3  ,  5.28 ,  4.8  ,  4.42 ,
        4.35 ,  6.79 ,  5.65 ,  4.72 ,  6.1  ,  4.57 ,  5.6  ,  5.4  ,
        5.78 ,  4.39 ,  5.72 , 12.2  , 16.   , 13.7  , 18.8  , 16.25 ,
       13.6  , 16.5  , 18.5  , 15.3  , 10.73 ,  9.4  , 14.8  ,  4.4  ,
        5.29 ,  5.9  ,  1.11 , 18.   , 17.   , 17.5  , 16.75 ,  8.1  ,
        1.36 , 11.73 ,  8.27 ,  6.27 ,  9.27 , 17.25 ,  9.3  ,  8.15 ,
        8.24 ,  8.23 , 17.4  , 18.75 , 19.25 , 14.2  , 20.   , 19.   ,
       17.75 , 18.25 , 13.8  , 20.5  , 13.3  , 10.6  , 11.72 , 16.2  ,
       14.7  , 15.2  , 17.2  , 14.3  , 17.3  , 15.4  , 12.9  , 20.25 ,
       21.   , 11.7  , 15.29 , 21.25 , 19.5  , 12.73 , 19.75 , 21.75 ,
       20.75 , 21.5  , 16.9  , 13.9  , 15.1  , 15.9  , 18.7  , 17.1  ,
       19.1  , 17.9  , 16.7  , 14.9  , 17.7  , 15.7  , 19.7  , 18.3  ,
       20.3  , 13.1  , 11.9  , 16.3  , 12.1  , 16.1  , 18.1  , 18.9  ,
       14.1  , 15.55 , 11.95 , 13.95 , 16.55 , 13.55 , 14.55 , 15.15 ,
       11.55 , 12.95 , 14.15 , 13.35 , 10.95 , 11.15 , 19.4  , 17.8  ,
       18.4  , 16.4  , 14.4  , 15.8  , 11.4  , 12.6  , 12.4  , 11.6  ,
       10.4  , 13.2  , 16.6  , 10.8  , 17.6  , 15.6  , 14.6  , 19.2  ,
       20.4  , 13.15 , 10.55 , 17.55 ,  9.55 , 14.95 , 17.95 , 16.15 ,
       14.35 , 15.95 ,  5.55 ,  7.55 , 12.3  ,  8.3  , 19.9  , 11.3  ,
       12.8  , 11.58 , 14.95 , 14.35 , 16.35 , 12.15 , 13.35 , 17.35 ,
       15.95 , 11.35 , 10.95 , 10.15 ,  8.55 , 13.95 , 11.95 , 12.95 ,
        9.95 ,  8.95 , 15.35 , 16.95 , 17.15 , 13.2  , 12.2  , 10.2  ,
        7.2  , 11.2  , 14.2  , 15.2  , 16.6  , 17.8  , 10.35 ,  7.15 ,
        7.95 ,  6.35 ,  7.8  ,  6.55 ,  9.35 ,  6.95 , 12.35 , 10.756,
       16.8  , 17.6  , 18.8  ,  5.2  ,  6.6  ,  7.35 ,  6.15 ,  5.95 ,
        4.15 ,  4.95 ,  4.55 ,  8.35 ,  5.8  ,  6.8  , 19.6  , 18.2  ,
        5.15 ,  3.95 , 19.35 ,  6.2  ,  4.2  ,  3.15 ,  1.95 ,  6.05 ,
        5.9  ,  6.65 ,  7.4  ,  4.85 ,  5.45 ,  7.85 ,  0.1  ,  0.84 ,
       19.3  , 20.1  , 13.65 , 13.05 , 12.45 , 18.55 , 20.7  , 21.1  ,
       15.45 , 16.05 , 19.65 , 18.45 , 19.05 , 16.65 , 18.6  , 17.85 ,
       22.35 , 18.15 , 14.29 , 11.85 , 10.35 , 19.95 , 14.85 , 19.8  ,
       21.9  , 21.3  , 21.15 , 18.23 , 13.73 , 10.65 ,  8.85 ,  9.45 ,
       10.05 ,  6.45 ,  7.05 ,  7.65 ,  4.65 ,  5.85 ,  4.05 ,  1.39 ])

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 191296 entries, 0 to 191859
Data columns (total 18 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Plantations                  191296 non-null  object
 1   AreaType                     191296 non-null  object
 2   Monitoring year              191296 non-null  float64
 3   Monitoring month             191296 non-null  float64
 4   Monitoring day               191296 non-null  int64
 5   PLOT                         191296 non-null  object
 6   TREE NR                      191296 non-null  float64
 7   Tree SPECIES                 191296 non-null  object
 8   Species scientific name      191296 non-null  object
 9   H (m)                        191296 non-null  float64
 10  DBH (cm)                     191296 non-null  float64
 11  Merchantable height (m)      0 non-null       object
 12  REMARKS                      69697 non-null   object
 13  Incorrect DBH                191296 non-null  bool
 14  Incorrect H                  191296 non-null  bool
 15  Incorrect H / DBH            0 non-null       object
 16  Exclude                      191296 non-null  bool
 17  Justification for exclusion  53541 non-null   object
dtypes: bool(3), float64(5), int64(1), object(9)
memory usage: 23.9+ MB

### Data Transformation

#### Create Measuring date from monitoring day, month and year

In [16]:
# convert monitoring month and year types from float to int types
df['Monitoring year'] = df['Monitoring year'].astype(int)
df['Monitoring month'] = df['Monitoring month'].astype(int)
df['Monitoring day'] = df['Monitoring day'].astype(int)

In [17]:
# convert them to strings for easy converting datetime types
df['Monitoring year'] = df['Monitoring year'].astype(str)
df['Monitoring month'] = df['Monitoring month'].astype(str)
df['Monitoring day'] = df['Monitoring day'].astype(str)

In [18]:
# creating date string from the monitoring day, month and year
df['Measuring date'] = df['Monitoring day'] + '/' + df['Monitoring month'] + '/' + df['Monitoring year']

# converting date string to datetime types
df['Measuring date'] = pd.to_datetime(df['Measuring date'], dayfirst=True)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 191296 entries, 0 to 191859
Data columns (total 19 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Plantations                  191296 non-null  object
 1   AreaType                     191296 non-null  object
 2   Monitoring year              191296 non-null  object
 3   Monitoring month             191296 non-null  object
 4   Monitoring day               191296 non-null  object
 5   PLOT                         191296 non-null  object
 6   TREE NR                      191296 non-null  float64
 7   Tree SPECIES                 191296 non-null  object
 8   Species scientific name      191296 non-null  object
 9   H (m)                        191296 non-null  float64
 10  DBH (cm)                     191296 non-null  float64
 11  Merchantable height (m)      0 non-null       object
 12  REMARKS                      69697 non-null   object
 13  Incorrect DBH                191296 non-null  bool
 14  Incorrect H                  191296 non-null  bool
 15  Incorrect H / DBH            0 non-null       object
 16  Exclude                      191296 non-null  bool
 17  Justification for exclusion  53541 non-null   object
 18  Measuring date               191296 non-null  datetime64[ns]
dtypes: bool(3), datetime64[ns](1), float64(3), object(12)
memory usage: 25.4+ MB

In [20]:
df['Exclude'].unique()

array([False,  True])

In [21]:
df = df[~((df['Exclude'] == True))]

In [22]:
df['Exclude'].unique()

array([False])

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 191146 entries, 0 to 191859
Data columns (total 19 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Plantations                  191146 non-null  object
 1   AreaType                     191146 non-null  object
 2   Monitoring year              191146 non-null  object
 3   Monitoring month             191146 non-null  object
 4   Monitoring day               191146 non-null  object
 5   PLOT                         191146 non-null  object
 6   TREE NR                      191146 non-null  float64
 7   Tree SPECIES                 191146 non-null  object
 8   Species scientific name      191146 non-null  object
 9   H (m)                        191146 non-null  float64
 10  DBH (cm)                     191146 non-null  float64
 11  Merchantable height (m)      0 non-null       object
 12  REMARKS                      69547 non-null   object
 13  Incorrect DBH                191146 non-null  bool
 14  Incorrect H                  191146 non-null  bool
 15  Incorrect H / DBH            0 non-null       object
 16  Exclude                      191146 non-null  bool
 17  Justification for exclusion  53391 non-null   object
 18  Measuring date               191146 non-null  datetime64[ns]
dtypes: bool(3), datetime64[ns](1), float64(3), object(12)
memory usage: 25.3+ MB

In [24]:
# compute height-DBH relationship or ratio
df['H/D'] = df['H (m)'] / df['DBH (cm)']

In [25]:
df = df[~((df['Justification for exclusion'] == 'Climber on top') | (df['Justification for exclusion'] == 'climber'))]
df = df[~((df['Justification for exclusion'] == 'Bent') | (df['Justification for exclusion'] == 'forked') | (df['Justification for exclusion'] == 'Beetle'))]

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 191014 entries, 0 to 191859
Data columns (total 20 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Plantations                  191014 non-null  object
 1   AreaType                     191014 non-null  object
 2   Monitoring year              191014 non-null  object
 3   Monitoring month             191014 non-null  object
 4   Monitoring day               191014 non-null  object
 5   PLOT                         191014 non-null  object
 6   TREE NR                      191014 non-null  float64
 7   Tree SPECIES                 191014 non-null  object
 8   Species scientific name      191014 non-null  object
 9   H (m)                        191014 non-null  float64
 10  DBH (cm)                     191014 non-null  float64
 11  Merchantable height (m)      0 non-null       object
 12  REMARKS                      69415 non-null   object
 13  Incorrect DBH                191014 non-null  bool
 14  Incorrect H                  191014 non-null  bool
 15  Incorrect H / DBH            0 non-null       object
 16  Exclude                      191014 non-null  bool
 17  Justification for exclusion  53259 non-null   object
 18  Measuring date               191014 non-null  datetime64[ns]
 19  H/D                          191011 non-null  float64
dtypes: bool(3), datetime64[ns](1), float64(4), object(12)
memory usage: 26.8+ MB

### BASIC STATISTICS

In [27]:
stat_data = df[['H (m)', 'DBH (cm)']]

In [28]:
stat_data.describe()

               H (m)       DBH (cm)
count  191014.000000  191014.000000
mean        9.031307      10.824829
std         4.163845       5.618743
min         0.000000       0.000000
25%         5.750000       6.400000
50%         8.750000      10.200000
75%        12.500000      14.900000
max        22.350000      37.300000

#### MERGE PLOT TO BLOCK REGISTER

In [29]:
block_query = r"SELECT * FROM [Plot-block relation] WHERE Plantations = 'Tain II' AND AreaType = 'Teak'"

blk_df = pd.read_sql(block_query, conn)

blk_df.head()

C:\Users\GILBERT FG\AppData\Local\Temp\ipykernel_1832\3411902383.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  blk_df = pd.read_sql(block_query, conn)

,RelationID,Plantations,Plot no,AreaType,Deviating plant year,Block,Start date,End date
0,74,Tain II,1370,Teak,NaN,PF80,2020-05-01,9999-12-31 00:00:00
1,76,Tain II,1372,Teak,NaN,C17,2020-05-01,9999-12-31 00:00:00
2,77,Tain II,1366,Teak,NaN,C17,2020-05-01,9999-12-31 00:00:00
3,78,Tain II,1363,Teak,NaN,C17,2020-05-01,9999-12-31 00:00:00
4,79,Tain II,1374,Teak,NaN,C17,2020-05-01,9999-12-31 00:00:00

In [30]:
blk_df = blk_df.rename(columns={'Plot no': 'PLOT'})

In [31]:
blk_df.head()

,RelationID,Plantations,PLOT,AreaType,Deviating plant year,Block,Start date,End date
0,74,Tain II,1370,Teak,NaN,PF80,2020-05-01,9999-12-31 00:00:00
1,76,Tain II,1372,Teak,NaN,C17,2020-05-01,9999-12-31 00:00:00
2,77,Tain II,1366,Teak,NaN,C17,2020-05-01,9999-12-31 00:00:00
3,78,Tain II,1363,Teak,NaN,C17,2020-05-01,9999-12-31 00:00:00
4,79,Tain II,1374,Teak,NaN,C17,2020-05-01,9999-12-31 00:00:00

In [32]:
trimed_df = blk_df[['PLOT', 'Block']]

In [33]:
df = pd.merge(df, trimed_df, on='PLOT')

In [34]:
df.head()

,Plantations,AreaType,Monitoring year,Monitoring month,Monitoring day,PLOT,TREE NR,Tree SPECIES,Species scientific name,H (m),...,Merchantable height (m),REMARKS,Incorrect DBH,Incorrect H,Incorrect H / DBH,Exclude,Justification for exclusion,Measuring date,H/D,Block
0,Tain II,Teak,2018,1,13,1,71.0,Teak,Tectona grandis,7.25,...,None,Fire scars,False,False,None,False,None,2018-01-13,0.604167,B39
1,Tain II,Teak,2018,1,13,1,76.0,Teak,Tectona grandis,8.25,...,None,Fire scars,False,False,None,False,None,2018-01-13,0.687500,B39
2,Tain II,Teak,2018,1,13,1,68.0,Teak,Tectona grandis,7.00,...,None,Fire scars,False,False,None,False,None,2018-01-13,0.593220,B39
3,Tain II,Teak,2018,1,13,1,53.0,Teak,Tectona grandis,7.25,...,None,Fire scars,False,False,None,False,None,2018-01-13,0.630435,B39
4,Tain II,Teak,2018,1,13,1,58.0,Teak,Tectona grandis,7.00,...,None,Fire scars,False,False,None,False,None,2018-01-13,0.666667,B39

In [35]:
plot_hist_query = r"SELECT * FROM [Plot monitoring history] WHERE Plantations = 'Tain II' AND AreaType = 'Teak'"
plot_hist_df = pd.read_sql(plot_hist_query, conn)
plot_hist_df.head()

C:\Users\GILBERT FG\AppData\Local\Temp\ipykernel_1832\52232978.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  plot_hist_df = pd.read_sql(plot_hist_query, conn)

,MonitoringID,Plantations,Plot no,AreaType,Monitoring year,Monitoring Month,Monitoring day,Default plot size,Plot type,Monitoring team,Shrub cover (%),Herb cover (%),Invasive species cover (%),Erosion,Remarks,Excluded,Justification for exclusion,MDate
0,2154,Tain II,18,Teak,2018,1,22,729.0,Square,"Bentil, Ernest, Prince, Kwakye",NaN,NaN,None,False,None,False,None,2018-01-22
1,2155,Tain II,18,Teak,2019,1,24,729.0,Square,"Augustine,Enoch,Vida,Frank & Judith",NaN,NaN,None,False,None,False,None,2019-01-24
2,2156,Tain II,19,Teak,2018,2,13,729.0,Square,"Prince, Philp, Kwakye, Bentil, Danquah",NaN,NaN,None,False,None,False,None,2018-02-13
3,2157,Tain II,19,Teak,2019,1,23,729.0,Square,"Belinda,Kingsley,Prince,Stephen & Juliet",NaN,NaN,None,False,None,False,None,2019-01-23
4,2158,Tain II,20,Teak,2018,2,13,729.0,Square,"Prince, Philp, Kwakye, Bentil, Danquah",NaN,NaN,None,False,None,False,None,2018-02-13

In [36]:
trimed_plot_hist_df = plot_hist_df[['Plot no', 'Default plot size']]

In [37]:
trimed_plot_hist_df = trimed_plot_hist_df.rename(columns={'Plot no': 'PLOT'})
trimed_plot_hist_df.head()

  PLOT  Default plot size
0   18              729.0
1   18              729.0
2   19              729.0
3   19              729.0
4   20              729.0

In [38]:
df = pd.merge(df, trimed_plot_hist_df, on='PLOT')
df.head()

,Plantations,AreaType,Monitoring year,Monitoring month,Monitoring day,PLOT,TREE NR,Tree SPECIES,Species scientific name,H (m),...,REMARKS,Incorrect DBH,Incorrect H,Incorrect H / DBH,Exclude,Justification for exclusion,Measuring date,H/D,Block,Default plot size
0,Tain II,Teak,2018,1,13,1,71.0,Teak,Tectona grandis,7.25,...,Fire scars,False,False,None,False,None,2018-01-13,0.604167,B39,729.0
1,Tain II,Teak,2018,1,13,1,71.0,Teak,Tectona grandis,7.25,...,Fire scars,False,False,None,False,None,2018-01-13,0.604167,B39,729.0
2,Tain II,Teak,2018,1,13,1,71.0,Teak,Tectona grandis,7.25,...,Fire scars,False,False,None,False,None,2018-01-13,0.604167,B39,729.0
3,Tain II,Teak,2018,1,13,1,71.0,Teak,Tectona grandis,7.25,...,Fire scars,False,False,None,False,None,2018-01-13,0.604167,B39,729.0
4,Tain II,Teak,2018,1,13,1,71.0,Teak,Tectona grandis,7.25,...,Fire scars,False,False,None,False,None,2018-01-13,0.604167,B39,729.0

In [39]:
# trimmed the dataframe to relevant features
df = df[['Plantations', 'AreaType', 'Measuring date', 'PLOT', 'TREE NR', 'H (m)', 'DBH (cm)', 'Block', 'Default plot size']]
df.head()

,Plantations,AreaType,Measuring date,PLOT,TREE NR,H (m),DBH (cm),Block,Default plot size
0,Tain II,Teak,2018-01-13,1,71.0,7.25,12.0,B39,729.0
1,Tain II,Teak,2018-01-13,1,71.0,7.25,12.0,B39,729.0
2,Tain II,Teak,2018-01-13,1,71.0,7.25,12.0,B39,729.0
3,Tain II,Teak,2018-01-13,1,71.0,7.25,12.0,B39,729.0
4,Tain II,Teak,2018-01-13,1,71.0,7.25,12.0,B39,729.0

In [40]:
df.describe()

,Measuring date,TREE NR,H (m),DBH (cm),Default plot size
count,853226,853226.000000,853226.00000,853226.000000,853226.0
mean,2020-11-30 18:20:22.595654144,40.242286,9.48937,11.410174,729.0
min,2018-01-13 00:00:00,1.000000,0.00000,0.000000,729.0
25%,2019-02-15 00:00:00,20.000000,6.25000,7.000000,729.0
50%,2021-02-24 00:00:00,40.000000,9.35000,11.000000,729.0
75%,2023-01-11 00:00:00,60.000000,13.00000,15.500000,729.0
max,2024-03-14 00:00:00,81.000000,22.35000,37.300000,729.0
std,NaN,23.448373,4.11654,5.610228,0.0

In [41]:
# compute plot size in ha
df['Plot size (ha)'] = df['Default plot size'] / 10000

In [42]:
df.head()

,Plantations,AreaType,Measuring date,PLOT,TREE NR,H (m),DBH (cm),Block,Default plot size,Plot size (ha)
0,Tain II,Teak,2018-01-13,1,71.0,7.25,12.0,B39,729.0,0.0729
1,Tain II,Teak,2018-01-13,1,71.0,7.25,12.0,B39,729.0,0.0729
2,Tain II,Teak,2018-01-13,1,71.0,7.25,12.0,B39,729.0,0.0729
3,Tain II,Teak,2018-01-13,1,71.0,7.25,12.0,B39,729.0,0.0729
4,Tain II,Teak,2018-01-13,1,71.0,7.25,12.0,B39,729.0,0.0729

In [45]:
df['Measuring year'] = df['Measuring date'].dt.year

In [46]:
df.head()

,Plantations,AreaType,Measuring date,PLOT,TREE NR,H (m),DBH (cm),Block,Default plot size,Plot size (ha),Measuring year
0,Tain II,Teak,2018-01-13,1,71.0,7.25,12.0,B39,729.0,0.0729,2018
1,Tain II,Teak,2018-01-13,1,71.0,7.25,12.0,B39,729.0,0.0729,2018
2,Tain II,Teak,2018-01-13,1,71.0,7.25,12.0,B39,729.0,0.0729,2018
3,Tain II,Teak,2018-01-13,1,71.0,7.25,12.0,B39,729.0,0.0729,2018
4,Tain II,Teak,2018-01-13,1,71.0,7.25,12.0,B39,729.0,0.0729,2018

In [108]:
stem_per_ha_df = df[['Block', 'PLOT', 'TREE NR', 'H (m)', 'DBH (cm)', 'Plot size (ha)', 'Measuring year']]

In [109]:
stem_per_ha_df.head()

  Block PLOT  TREE NR  H (m)  DBH (cm)  Plot size (ha)  Measuring year
0   B39    1     71.0   7.25      12.0          0.0729            2018
1   B39    1     71.0   7.25      12.0          0.0729            2018
2   B39    1     71.0   7.25      12.0          0.0729            2018
3   B39    1     71.0   7.25      12.0          0.0729            2018
4   B39    1     71.0   7.25      12.0          0.0729            2018

#### Stems per hectare (SPHA)

In [121]:
# Count number of trees per block, plot, and year
tree_counts = stem_per_ha_df.groupby(['Block', 'PLOT', 'Measuring year', 'Plot size (ha)'])['TREE NR'].nunique().reset_index()
tree_counts = tree_counts.rename(columns={'TREE NR': 'Tree count'})

In [122]:
tree_counts['SPHA'] = tree_counts['Tree count'] / tree_counts['Plot size (ha)']

In [123]:
tree_counts.head()

  Block  PLOT  Measuring year  Plot size (ha)  Tree count        SPHA
0   A19  1141            2022          0.0729          63  864.197531
1   A19  1141            2023          0.0729          63  864.197531
2   A19  1142            2022          0.0729          42  576.131687
3   A19  1142            2023          0.0729          43  589.849108
4   A19  1143            2022          0.0729          32  438.957476